@model MVC_devhive.Models.Property

@{
    ViewData["Title"] = "Property Details";
}


<div class="back-button">
    <button onclick="goBack()" class="btn btn-secondary">Regresar a la lista</button>
</div>


<div class="property-details">

    <div class="property-info">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        <dl>
            <dt>Telefono:</dt>
            <dd>@Model.Tel</dd>
            <dt>WhatsApp:</dt>
            <dd>
                <a target="_blank" href="@GetWhatsAppUrl(Model.Tel)">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                        <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
                    </svg>
                </a>
            </dd>
            <dt>Direccion:</dt>
            <dd>@Model.Address</dd>
            <dt>Capacidad:</dt>
            <dd>@Model.Capacity</dd>
            <dt>Ubicacion:</dt>
            <dd><a target="_blank" href="@GetGoogleMapsUrl(Model.Location)">View on Google Maps</a></dd>
        </dl>
    </div>
    <div class="property-image" style="margin-left:30px">
        @if (Model.Photo != null)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.Photo)" alt="Property Photo" class="rounded" />
        }
        else
        {
            <img src="~/images/no-image.jpg" alt="No Photo Available" class="rounded" />
        }
    </div>

</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
@functions {
    public string GetGoogleMapsUrl(Point location)
    {
        if (location != null)
        {
            return $"https://www.google.com/maps/search/?api=1&query={location.Latitude},{location.Longitude}";
        }
        return "#"; 
    }
    public string GetWhatsAppUrl(string phoneNumber)
    {
        return $"https://wa.me/{phoneNumber}";
    }
}
